extends layout

block content
    .column_middle
        .not_found
            span Page not found
            br
            a(href='/')
                | You've met with a terrible fate, haven't you...