extends layout

block content
    .back_button
        span
            a(href='/')
                img(src='images/arrow-left.png', alt='')
    .column_middle
        .column_middle_grid1
            .column_right_grid.sign-in
                .sign_in
                    h3 Registration Details
                    form(action='/signup', method='POST')
                        span
                            i
                                img(src='images/user.png', alt='')
                            input(type='text', name='username', placeholder='summoner name', required)
                        span
                            i
                                img(src='images/user.png', alt='')
                            select(name='userRegion')
                                option(value='na')
                                    | North America
                                option(value='lan')
                                    | Latin America North
                                option(value='las')
                                    | Latin America South
                                option(value='br')
                                    | Brazil
                                option(value='eune')
                                    | Europe East
                                option(value='euw')
                                    | Europe West
                                option(value='oce')
                                    | Oceania
                                option(value='ru')
                                    | Russia
                                option(value='tr')
                                    | Turkey
                        span
                            i
                                img(src='images/lock.png', alt='')     
                            input(type='password', name='password', placeholder='password', required)
                        span
                            i
                                img(src='images/mail.png', alt='')     
                            input(type='email', name='email', placeholder='Email', required)

                        input.my-button(type='submit', value='Register')
        #message
            if message && message != ''
                h1.error-message #{message}
            if success && success != ''
                h1.success-message #{success}